.container:first-of-type {
  margin-top: 70px;
}

#time_select_form {
  margin: 10px 0;
}

.modality {
  margin-top: 30px;
}

@media (max-width: 767px) {
  img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
}
