body {
  background: #f8f5f2;
}

section {
  width: 80%;
  padding: 30px;
  margin: 40px auto;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

section > header {
  background-color: #000b29;
  padding: 20px 30px 15px 30px;
  margin: 0 0 30px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  /*border: 1px solid #e59400;*/
}

h1 {
  color: #d70026;
  font: normal 50px 'Bitter', serif;
  text-align: center;
  text-shadow: black 0 0.04em 0.04em;
}

.error-msg {
  font: 13px Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto auto 15px auto;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

span {
  color: red;
}

section > header h2 {
  margin: 0;
  font: normal 30px 'Bitter', serif;
}

section > header h3 {
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
}

form fieldset {
  padding: 30px;
  background-color: #f8f5f2;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
}

form fieldset legend {
  font: normal 20px 'Bitter', serif;
  color: #000b29;
  margin-bottom: 5px;
}

form fieldset legend span {
  background-color: #000b29;
  padding: 5px 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  color: #fff;
}

form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

form label {
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input[type="reset"],
form input[type="submit"],
form input[type="button"] {
  background-color: #000b29;
  padding: 8px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #000b29;
  font-size: 15px;
  margin-bottom: 10px;
}

form input[type="reset"]:hover,
form input[type="submit"]:hover,
form input[type="button"]:hover {
  background-color: #1a2a54;
  border-color: #1a2a54;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

form label[for="privacy"] {
  font: 12px Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  text-align: right;
}

section footer {
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 590px) {
  section {
    width: 450px;
  }

  div {
    display: inline;
  }

  form input[type="reset"],
  form input[type="submit"],
  form input[type="buttons"] {
    margin-right: 10pt;
    margin-bottom: 0;
  }
}
