body {
  background: #f8f5f2;
}

h1 {
  color: #d70026;
  font: normal 50px 'Bitter', serif;
  text-shadow: black 0 0.04em 0.04em;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #edb83d;
}

.container:first-of-type {
  margin-top: 50px;
}

.error-msg {
  font: 13px Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto auto 15px auto;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
