.panel {
  margin-top: 50px;
}

textarea {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3%;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.star-container {
  float: right;
}

.checked {
    color: orange;
}

#rating {
  margin-left: 10px;
  width: 60px;
}

.btn {
  margin-top: 10px;
}

.review-desc {
  color: #2196F3;
}
