.container:first-of-type {
  margin-top: 70px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f8f5f2;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #ffffff;
}

th {
  background-color: #1a2a54;
  color: white;
}

table.table-bordered {
  border: 1px solid #024869;
}

table.table-bordered > thead > tr > th {
  border: 1px solid #024869;
}

table.table-bordered > tbody > tr > td {
  border: 1px solid #024869;
}
