<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Master Piada</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="./admin-orders_page.php">Ordini</a></li>
        <li><a href="./admin-timetables_page.php">Orari</a></li>
        <li><a href="./admin-products_page.php">Prodotti</a></li>
        <li><a href="./admin-universities_page.php">Università</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./process_logout.php"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
