<footer class="page-footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <h6 class="title font-bold">
          <strong>Master Piada</strong>
        </h6>
        <hr/>
        <p>Acquista oggi per ricevere comodamente dove vuoi tu il meglio della nostra gamma sempre fresca.</p>
      </div>
      <div class="col-sm-3">
        <h6 class="title font-bold">
          <strong>Useful links</strong>
        </h6>
        <hr/>
        <p><a href="../php/account.php">Il tuo account</a></p>
        <p><a href="../php/about_us.php">Chi siamo</a></p>
        <p><a href="#!">Aiuto</a></p>
      </div>
      <div class="col-sm-3">
        <h6 class="title font-bold">
          <strong>Contact</strong>
        </h6>
        <hr/>
        <p>Piazza del Popolo, 123, 47521 Cesena</p>
        <p>info@example.com</p>
        <p>+ 39 234 567 88</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright: <strong>Master Piada</strong>
    </div>
  </div>
</footer>
